.select {
  background-color: var(--bg);
  color: var(--text);
  outline: 0;
  border: 1px solid var(--primary);
  padding: 5px;
  border-radius: 5px;
  min-width: 200px;
  font-family: "Montserrat", sans-serif;
}
