.layout {
  &__header {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    border-bottom: 1px solid var(--primary);

    &__title {
      flex: 0 0 200px;
      border-right: 1px solid var(--primary);
    }

    &__nav {
      display: flex;
      gap: 20px;
    }
  }
  &__main {
    height: calc(100vh - (60px + 40px));
    overflow: auto;
    padding: 20px;
  }
  &__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border-top: 1px solid var(--primary);
  }
}
